<h1>Your Tamagotchi</h1>

<h3>Pet Name: <%= @stats["name"] %></h3>
<h3>Birthday: <%= @stats["birthday"] %></h3>
<h3>Food Level: <%= @stats["food_level"] %></h3>
<h3>Sleep Level: <%= @stats["sleep_level"] %></h3>
<h3>Activity Level: <%= @stats["activity_level"] %></h3>
